body, html {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: -apple-system-font,Helvetica Neue,Helvetica,Arial,sans-serif;
	background-color: #fbf9fe;
	touch-action: none; /* 解决datetimePicker滚动报错。https://blog.csdn.net/m0_38082783/article/details/78123323 */
  font-size: 14px;
}

/* 手机端滚动增加惯性 */
* {
  -webkit-overflow-scrolling: touch;
}

.weui-textarea {
	font-family: -apple-system-font,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* weui.css用遮罩 */
.weui-mask {
	background: rgba(0, 0, 0, 0.3);
	visibility: visible;
}
/* weui.css和jquery-weui.css冲突部分 */
.weui-dialog,
.weui-toast {
  opacity: 1;
  visibility: visible;
}

/* jquery.weui.css用遮罩 */
/* .weui-picker-container {
	background: rgba(0, 0, 0, 0.3);
	height: 100%;
	-webkit-animation:fadeIn ease .3s forwards;
	animation:fadeIn ease .3s forwards;
} */
/* .weui-picker-container + .weui-picker-container {
	background: rgba(0, 0, 0, 0);
} */

/* .weui-grids {
	background: #fff;
} */
.weui-grids.four-cells-each-row .weui-grid {
	width: 25%;
}
.weui-grid {
	background: #fff;
}
.weui-grids:after,
.weui-grids:before {
  z-index: 1;
}


/* === 通用 === */
.container, .page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.container {
  overflow: hidden;
}

.weui-tab__panel {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 50px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.pull-right {
	float: right;
}
.page {
	height: 100%;
	overflow-y: auto;
}
.page__hd {
	padding: 40px;
}
.page__bd_spacing {
    padding: 0 15px;
}
.page__ft {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
}
.page__title {
	text-align: left;
	font-size: 20px;
	font-weight: 400;
}
.page__desc {
	margin-top: 5px;
	color: #888;
	text-align: left;
	font-size: 14px;
}
.link-color {
	color: #09b78d;
}
.sub-color {
	color: #999;
}
/* 按钮颜色 */
.weui-btn_primary {
	background-color: #09b78d;
}
.weui-btn_primary:not(.weui-btn_disabled):active {
	color: hsla(0,0%,100%,.6);
	background-color: #00ad85;
}

/* weui-cells容器上方去掉画线 */
.weui-cells.no-line:after,
.weui-cells.no-line:before {
	height: 0px;
	content: "";
	position: initial;
}

/* weui-cell 每个右侧不顶头 */
.line-right-not-reach .weui-cell:before {
	right: 15px;
}

.weui-cells {
  font-size: 15px;
}

.weui-toptips {
  opacity: 1;
}

.weui-panel__hd .weui-media-box__title {
  color: #000;
}

.pull-right {
  float: right;
}

.weui-cell__row {
  height: 25px;
  line-height: 25px;
}

.status {
  color: #fff;
  background-color: #aaa;
  /* color: #999;
  border: 1px solid #999; */
  border-radius: 5px;
  font-size: 12px;
  padding: 0px 8px;
  float: right;
}
.status-success,
.bg-green {
  background-color: #09B78D;
}
.bg-blue {
  background-color: #10AEFF;
}
.status-warn,
.bg-orange {
  background-color: #f90;
}
.status-danger,
.bg-red {
  background-color: #f00;
}

.hours:after {
  content: " h";
}

.weui-swiped-btn_success {
  background-color: #09B78D
}

/* 详细确认head的关键字，与body统一大小*/
.weui-form-preview__hd .weui-form-preview__label {
  font-size: .9em;
}
/* 详情确认的值，黑字 */
.weui-form-preview__value {
  color: #000;
}

/* 详情确认body下一个head加上分隔线 */
.weui-form-preview__bd + .weui-form-preview__hd:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #e5e5e5;
  color: #e5e5e5;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  left: 15px;
}
/* 详情确认body下的第二个body加上分隔线 */
.weui-form-preview__bd + .weui-form-preview__bd:before {
  content: " ";
  position: relative;
  display: block;
  left: 0;
  top: -12px;
  right: 0;
  height: 1px;
  border-top: 1px solid #e5e5e5;
  color: #e5e5e5;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
}